# Deny all
/*

# Allow project files
!.gitignore
!LICENSE
!Makefile
!Dockerfile
!docker-compose.yml
!haproxy.cfg
!info.json
!README.md

# Allow source code
!src/
!src/*.c
!src/*.h

# Allow indexer
!indexer/
!indexer/*.c
!indexer/Makefile

# Allow resources (reference data)
!resources/
!resources/mcc_risk.json
!resources/normalization.json
!resources/references.json.gz

# Allow CI
!.github/
!.github/**/*