# Minimal HAProxy config for Rinha 2026
# UDS socket backends to the C APIs (no seccomp:unconfined anywhere)

global
    maxconn  20000
    nbthread 2

defaults
    mode                    tcp
    timeout connect         5s
    timeout client          30s
    timeout server          30s
    option                  tcpka

frontend rinha_front
    bind *:9999
    maxconn 20000
    default_backend rinha_back

backend rinha_back
    balance roundrobin

    # UDS sockets created by the C servers
    server api1 /run/sock/api1.sock check inter 3s
    server api2 /run/sock/api2.sock check inter 3s
